# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Visual Studio Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Variables de entorno
.env

# Archivos generados
/bin/